<div class='flex gap-4 items-end w-full '>

	<h1 class='font-bold text-3xl'>{{title}}</h1>

	<nav class='text-blue-600'>
		<ul class='w-full flex gap-4 '>
			<li>
				<a href='/about'>About</a>
			</li>
			<li>
				<a href='/help'>Help</a>
			</li>
			<li>
				<a href='/weather'>Weather</a>
			</li>
		</ul>
	</nav>
</div>